<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Javascript Frogger Game</title>
  <meta name="Reach the water" content="game">
  <link rel="stylesheet prefetch" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Coda">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css" />
</head>
<body>
  <div class="container">
  <!-- firstDisplayModal -->
    <div class="gameovermodal">
    <!-- Modal content -->
      <div class="modal-content">
        <div class="gameovermodal-header">
          <h2>Ohhh</h2>
        </div>
        <div class="modal-body">
          <p>You died... </p>
          <p> Score: <span class="score"> </span></p>
        </div>
        <div class="gameovermodal-footer">
          <h3>Click here to replay!</h3>
        </div>
      </div>
    </div>
  <!-- firstDisplayModal -->
    <div class="playmodal">
    <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h2>Welcome!</h2>
        </div>
        <div class="modal-body">
          <p>Reach the water!</p>
        </div>
        <div class="playmodal-footer">
          <h3>Click here to play!</h3>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/js/resources.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/engine.js"></script>
</body>
</html>
